{% extends "master.html" %}

{% block title %}
About
{% endblock %}

{% block content %}
<section class="sec-home-banner" id="large-header">
    <canvas id="demo-canvas"></canvas>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <div class="main-desc">
                        <h2>Lorem Ipsum</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis aliquam fuga
                            quidem
                            amet eum sed quibusdam velit ratione, pariatur asperiores, molestias consequuntur
                            voluptatum itaque rerum sit perspiciatis ea, incidunt doloremque?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis aliquam fuga
                            quidem
                            amet eum sed quibusdam velit ratione, pariatur asperiores, molestias consequuntur
                            voluptatum itaque rerum sit perspiciatis ea, incidunt doloremque?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat minus repellendus
                            commodi culpa expedita sit id voluptatum accusantium quisquam corporis, cumque
                            sapiente!
                            Numquam, aliquam doloribus porro officiis ea dicta repudiandae.</p>
                    </div>

                    <div class="group-info">
                        <ul>
                            <li>Supervised by :</li>
                            <li>Darpan</li>
                            <li>Darpan</li>
                        </ul>

                        <ul>
                            <li>Created by :</li>
                            <li>Darpan</li>
                            <li>Darpan</li>
                            <li>Darpan</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}