{% extends "master.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<section class="sec-home-banner" id="large-header">
    <canvas id="demo-canvas"></canvas>
    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 col-xxl-7">

                    <div class="main-desc my-an">
                        <h2 id="demo"></h2><h2 id="demo-show">|</h2>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec-products-categ">
    <div class="head">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <h6>What we classify?</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card prod-card">
                    <div class="img-main">
                        <img src="https://www.crcv.ucf.edu/projects/real-world/assault.gif" class="img-fluid thumb1" alt="">
                        <img src="{{ url_for('static',filename='images/crime/CAP1.jpg') }}" class="img-fluid thumb2" alt="">
                        
                    </div>
                    <div class="desc">
                        <a href="void:;" class="title"><strong>CAP</strong></a>
                        <span class="sm-txt">Crime Agenst Person</span>
                        <p>Physical abuse torcher or abduction.</p>
                        <a href="{{url_for('predict')}}" class="btn cart-btn">
                            <span class="anim">View</span>
                            <i class="fa-regular fa-eye"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card prod-card">
                    <div class="img-main">
                        <img src="https://www.crcv.ucf.edu/projects/real-world/stealing.gif" class="img-fluid thumb1" alt="">
                        <img src="{{ url_for('static',filename='images/crime/CARP1.jpg') }}" class="img-fluid thumb2" alt="">
                        
                    </div>
                    <div class="desc">
                        <a href="void:;" class="title"><strong>CARP</strong></a>
                        <span class="sm-txt">Crime Agenst Person</span>
                        <p>Physical abuse torucshar or abduction.</p>
                        <a href="{{url_for('predict')}}" class="btn cart-btn">
                            <span class="anim">View</span>
                            <i class="fa-regular fa-eye"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                <div class="card prod-card">
                    <div class="img-main">
                        <img src="https://www.crcv.ucf.edu/projects/real-world/robbery.gif" class="img-fluid thumb1" alt="">
                        <img src="{{ url_for('static',filename='images/crime/theft2.jpg') }}" class="img-fluid thumb2" alt="">
                        
                    </div>
                    <div class="desc">
                        <a href="void:;" class="title"><strong>Theft</strong></a>
                        <span class="sm-txt">Stealing someones belonging</span>
                        <p>Robbery, pick-pocketing, or snatching.</p>
                        <a href="{{url_for('predict')}}" class="btn cart-btn">
                            <span class="anim">View</span>
                            <i class="fa-regular fa-eye"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-cta">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="wrap-box">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                            <div class="img-main">
                                <img src="{{ url_for('static',filename='images/dark.jpg') }}" class="img-fluid thumb" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                            <div class="desc">
                                <h6>Wedding Ring</h6>
                                <p>All the Lorem Ipsum generators Internet tend to repeat predefined necessary
                                </p>
                                <a href="void:;" class="btn view-btn">view all collections</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-six">
    <video src="{{ url_for('static',filename='images/video-bg.mp4') }}" loop muted autoplay></video>
    <div class="main-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="long-desc">
                        <h4>Lrem Ipsum</h4>
                        <!-- <h5>Tax ID# 46-4164830</h5> -->
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos omnis dolorem deleniti reprehenderit optio, quia consectetur repellendus hic consequatur expedita nesciunt asperiores veritatis labore, non perspiciatis, necessitatibus magni quo sunt! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="form-sec-wrap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">

                <div class="form-detail">
                    <h4>Contact Us</h4>
                    <form action="">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" style="border-radius: 5px;" name="name" value="" id="name"
                                        placeholder="Name">
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" style="border-radius: 5px;" name="email" value="" id="email"
                                        placeholder="Email">
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                <div class="form-group">
                                    <input type="phone" class="form-control" style="border-radius: 5px;" name="phone" value="" id="phone"
                                        placeholder="Phone">
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" style="border-radius: 5px;" id="message" rows="15" placeholder="Message"></textarea>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                <div class="form-submit">
                                    <a href="javascript:;" class="btn btn-secondary">Submit</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
    <script>
        var i = 0;
        var txt = 'An Framework for Crime Classification';
        var speed = 50;
        $(document).ready(function(){
            function typeWriter() {
                if (i < txt.length) {
                    document.getElementById("demo").innerHTML += txt.charAt(i);
                    i++;
                    setTimeout(typeWriter, speed);
                }
                else{
                    i=0;
                    typehide();
                }
            }
            typeWriter();

            var x=0;
            function typehide() {
                if(x==0){
                    $('#demo-show').hide();
                    x=1;
                }
                else{
                    $('#demo-show').show();
                    x=0;
                }
                i+=1;
                if(i>=5)
                    document.getElementById("demo").innerHTML += '.';
                else
                    setTimeout(typehide, 500);
                
            }
            
        });
    </script>
{% endblock %}