{% extends "master.html" %}

{% block title %}
Predict Live
{% endblock %}

{% block content %}
<section class="sec-home-banner" id="large-header">
    <canvas id="demo-canvas"></canvas>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                    <div class="main-desc">
                        <!-- <h2>Lorem Ipsum</h2> -->
                        <img src="{{ url_for('video_feed') }}" width="70%">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="main-desc">
                        <div class="card">
                            <div class="card-body">

                                <button class="btn btn-danger sub-video" type="button">Stop</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
 
{% block scripts %}
<script>

    $(document).on('click', '.sub-video', function (e) {
        e.preventDefault();
        $.ajax({
            type: "GET",
            dataType: "json",
            url: '{{ url_for("done") }}',
            data: {},
            success: function (data) {
                console.log("here");
            }
        });
    });
</script>
{% endblock %}